@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Roboto',  sans-serif;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  main {
    height: calc(100vh - 70px);
    background-color: #f9f9f9;
    display: flex;
  }
  .side-bar {
    height: 100%;
    width: 17%;
    background-color: white;
    overflow-y: hidden;
  }
  @media (max-width:786px) {
    .side-bar {
        display: none;
    }
  }
  .left {
    display: flex;
    align-items: center;
  }
  .left #menu {
    padding:0 7px;
    cursor: pointer;
  }
  .search {
    display: flex;
  }
  .search form {
display: flex;
border: 1px solid #ddd;
height: 45px;
  }
  .search input {
    width:600px;
    padding:10px;
    border:0;
    height:100%;
    border-radius: 2px 0 0 2px;
  }
  input:focus {
    outline:none;
    border: 1px solid #ddd;
  }
  .search button {
    height: 100%;
    width: 10%;
    border:none;
  }
  .mic {
    margin-top: 10px;
  }
  .material-icons {
    color: rgb(100 100 100);
    padding: 0 7px;
    cursor: pointer;
  }