@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Roboto',  sans-serif;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  main {
    height: calc(100vh - 70px);
    display: flex;
  }
  .side-bar {
    height: 100%;
    width: 15%;
    background-color: white;
    overflow-y: hidden;
    margin-left: 10px;
  }
  @media (max-width:786px) {
    .side-bar {
        display: none;
    }
  }
  .left {
    display: flex;
    align-items: center;
  }
  .left #menu {
    padding:0 7px;
    cursor: pointer;
  }
  .search {
    display: flex;
  }
  .search form {
display: flex;
border: 1px solid #ddd;
height: 45px;
border-radius: 25px;
  }
  .search input {
    width:600px;
    padding:10px;
    border: 0;
    height:100%;
    border-radius: 25px 0 0 25px;
    font-size: medium;
    font-weight: 100;
  }

  input:focus {
    outline:none;
    border: 1.5px solid #1c62b9;
  }
  .search button {
    height: 100%;
    width: 10%;
    border:none;
    border-radius: 0 25px 25px 0;
  }
  .mic {
    margin-top: 10px;
  }
  .material-icons {
    color: rgb(100 100 100);
    padding: 0 7px;
    cursor: pointer;
  }
  ::placeholder {
    color: grey;
    size: 10px;
  }
  .nav {
    width:100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1px;
    margin-top: 20px;
  }
  .nav-link {
    display: flex;
    align-items: center;
    padding:9px 20px;
    border-radius: 15px;
    height: min-content;
  }
  .nav-link span {
    margin-left: 15px;
  }
  .nav :hover {
    background:rgb(243, 241, 241) ;
    cursor: pointer; 
  }
  .active {
    background: rgb(243, 241, 241);
    font-weight: bold;
  }
  hr {
    height: 1px;
    background-color:rgb(243, 241, 241) ;
    border: none;
    margin-top: 15px;
  }
  /*filter*/
  .filters {
    position: fixed;
    top:60px;
    left:250px;
    width:calc(100%-250px);
    height: 60px;
    background:#fff;
    border-top: 1px solid #dbdbdb;
    padding: 0 20px;
    display:flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
  }
  filters::-webkit-scrollbar {
    display: none;
  }